{% extends 'layout/baseAdmin.html' %} 

{% block title %}- Dashboard{% endblock %}

{% block content %}
<div class="row g-3">
  <!-- Card 1 -->
  <div class="col-lg-4 col-md-6">
    <div class="card text-white border-0 shadow-sm" style="background-color: #3351f5;">
      <div class="card-body d-flex align-items-center justify-content-center gap-4 py-4">
        <i class="bi bi-building display-4 text-white opacity-100 me-5"></i>
        <div class="text-start">
          <h3 class="fw-bold mb-0 text-white">169</h3>
          <h5 class="text-white">Tenant Aktif</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="col-lg-4 col-md-6">
    <div class="card border-0 shadow-sm" style="background-color: #87CEEB;">
      <div class="card-body d-flex align-items-center justify-content-center py-4">
        <i class="bi bi-person-fill display-4 text-white opacity-100 me-5"></i>
        <div class="text-start ms-2">
          <h3 class="fw-bold mb-0 text-white">50</h3>
          <h5 class="text-white">Admin Aktif</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="col-lg-4 col-md-6">
    <div class="card text-white border-0 shadow-sm" style="background-color: #3351f5;">
      <div class="card-body d-flex align-items-center justify-content-center gap-4 py-4">
        <i class="bi bi-graph-up-arrow display-4 text-white opacity-100 me-4"></i>
        <div class="text-start">
          <h3 class="fw-bold mb-0 text-white">6</h3>
          <h5 class="text-white">Total Superadmin</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <div
        class="d-flex flex-wrap justify-content-between align-items-center mb-3"
      >
        <h5 class="card-title mb-2 mb-sm-0">Top Tenant</h5>
      </div>

      <div class="table-responsive">
        <table class="table text-nowrap align-middle mb-0">
          <thead>
            <tr class="border-2 border-bottom border-primary border-0">
              <th scope="col" class="text-center">ID</th>
              <th scope="col" class="text-center">Nama Brand</th>
              <th scope="col" class="text-center">Jenis Usaha</th>
              <th scope="col" class="text-center">Lokasi</th>
              <th scope="col" class="text-center">Rating</th>
              <th scope="col" class="text-center">Total Review</th>
              <th scope="col" class="text-center">Rentang Harga</th>
              <th scope="col" class="text-center">Gambar</th>
            </tr>
          </thead>

          <tbody class="table-group-divider">
            <tr>
              <td>1</td>
              <td>Soerabaja Coffee</td>
              <td class="text-center">Event & Promotion</td>
              <td>Boarding Lounge Terminal 1</td>
              <td class="text-center">4.8</td>
              <td class="text-center">120</td>
              <td>Rp 20.000 - 50.000</td>
              <td>
                <img
                  src="{{ url_for('static', filename='static_admin/images/bakmi-gocit4.png') }}"
                  alt="Gambar"
                  width="40"
                  class="rounded center"
                />
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Soerabaja Coffee</td>
              <td class="text-center">Event & Promotion</td>
              <td>Boarding Lounge Terminal 1</td>
              <td class="text-center">4.8</td>
              <td class="text-center">120</td>
              <td>Rp 20.000 - 50.000</td>
              <td>
                <img
                  src="{{ url_for('static', filename='static_admin/images/bakmi-gocit4.png') }}"
                  alt="Gambar"
                  width="40"
                  class="rounded"
                />
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Soerabaja Coffee</td>
              <td class="text-center">Event & Promotion</td>
              <td>Boarding Lounge Terminal 1</td>
              <td class="text-center">4.8</td>
              <td class="text-center">120</td>
              <td>Rp 20.000 - 50.000</td>
              <td>
                <img
                  src="{{ url_for('static', filename='static_admin/images/bakmi-gocit4.png') }}"
                  alt="Gambar"
                  width="40"
                  class="rounded"
                />
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Soerabaja Coffee</td>
              <td class="text-center">Event & Promotion</td>
              <td>Boarding Lounge Terminal 1</td>
              <td class="text-center">4.8</td>
              <td class="text-center">120</td>
              <td>Rp 20.000 - 50.000</td>
              <td>
                <img
                  src="{{ url_for('static', filename='static_admin/images/bakmi-gocit4.png') }}"
                  alt="Gambar"
                  width="40"
                  class="rounded"
                />
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Soerabaja Coffee</td>
              <td class="text-center">Event & Promotion</td>
              <td>Boarding Lounge Terminal 1</td>
              <td class="text-center">4.8</td>
              <td class="text-center">120</td>
              <td>Rp 20.000 - 50.000</td>
              <td>
                <img
                  src="{{ url_for('static', filename='static_admin/images/bakmi-gocit4.png') }}"
                  alt="Gambar"
                  width="40"
                  class="rounded"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pagination-wrapper mt-4 d-flex justify-content-end">
        <nav aria-label="Page navigation">
          <ul class="pagination mb-0 border border-primary rounded-pill px-2">
            <li class="page-item">
              <a
                class="page-link text-primary border-0"
                href="#"
                aria-label="Previous"
                >Prev</a
              >
            </li>
            <li class="page-item active">
              <a class="page-link bg-primary text-white border-0" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link text-primary border-0" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link text-primary border-0" href="#">3</a>
            </li>
            <li class="page-item">
              <a
                class="page-link text-primary border-0"
                href="#"
                aria-label="Next"
                >Next</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <div
        class="d-flex flex-wrap justify-content-between align-items-center mb-3"
      >
        <h5 class="card-title mb-2 mb-sm-0">Data Admin</h5>
      </div>

      <div class="table-responsive">
        <table class="table text-nowrap align-middle mb-0">
          <thead>
            <tr class="border-2 border-bottom border-primary border-0">
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Role</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <td class="ps-0 fw-medium">1</td>
              <td class="fw-medium">user001</td>
              <td>superadmin</td>
            </tr>
            <tr>
              <td class="ps-0 fw-medium">2</td>
              <td class="fw-medium">user002</td>
              <td>admin</td>
            </tr>
            <tr>
              <td class="ps-0 fw-medium">3</td>
              <td class="fw-medium">user001</td>
              <td>superadmin</td>
            </tr>
            <tr>
              <td class="ps-0 fw-medium">4</td>
              <td class="fw-medium">user002</td>
              <td>admin</td>
            </tr>
            <tr>
              <td class="ps-0 fw-medium">5</td>
              <td class="fw-medium">user001</td>
              <td>superadmin</td>
            </tr>
            <tr>
              <td class="ps-0 fw-medium">6</td>
              <td class="fw-medium">user002</td>
              <td>admin</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pagination-wrapper mt-4 d-flex justify-content-end">
        <nav aria-label="Page navigation">
          <ul class="pagination mb-0 border border-primary rounded-pill px-2">
            <li class="page-item">
              <a
                class="page-link text-primary border-0"
                href="#"
                aria-label="Previous"
                >Prev</a
              >
            </li>
            <li class="page-item active">
              <a class="page-link bg-primary text-white border-0" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link text-primary border-0" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link text-primary border-0" href="#">3</a>
            </li>
            <li class="page-item">
              <a
                class="page-link text-primary border-0"
                href="#"
                aria-label="Next"
                >Next</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
