{% extends "layout/baseAuthAdmin.html" %} {% block title %}- Login{% endblock %}
{% block content %}
<div class="card-body">
  <div class="text-center mb-4">
    <img
      src="{{ url_for('static', filename='static_admin/images/logos/logo.png') }}"
      alt="Logo"
      class="img-fluid mx-auto"
      style="max-height: 50px"
    />
    <p class="text-muted mt-2">Admin Injourney Airport</p>
  </div>

  <form id="loginForm">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" name="username" class="form-control" required />
    </div>
    <div class="mb-4">
      <label class="form-label">Password</label>
      <input type="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary w-100 py-2">Sign In</button>
  </form>
  <a
    href="{{ url_for('routes.register_page') }}"
    class="btn btn-outline-secondary w-100 py-2 mt-3"
  >
    Create an account
  </a>
</div>
{% endblock %} {% block scripts %}
<script>
  document.getElementById("loginForm").addEventListener("submit", async (e) => {
    e.preventDefault();

    const username = e.target.username.value;
    const password = e.target.password.value;

    const res = await fetch("/login", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ username, password }),
    });

    const data = await res.json();
    if (res.ok && data.redirect) {
      window.location.href = data.redirect;
    } else {
      alert(data.error || "Login gagal");
    }
  });
</script>
{% endblock %}
